/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 15%;
    background: #ffff;
    color: #101928;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.top-nav{
    margin-bottom: 120px;
}

/* Styling for the navigation links */
.top-nav ul {
    list-style: none;
    padding-left: 0;
}

.top-nav a {
    display: block;
    color: black;
    text-decoration: none; 
    padding: 10px 20px;
}

/* Hover effect */
.top-nav a:hover {
    background-color: #b9b9b9; 
}

.logo img {
    width: 120px;
    height: 50px;
    margin-bottom: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li a {
    color:#454545;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background: #F9FAFB;
    width: 100%;
    overflow-y: scroll;
    height: 100vh;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

input[type="search"] {
    padding: 8px;
    margin-right: 350px;
    width: 600px;
    border: 0.5px solid #ccc;
    border-radius: 4px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Main section starts here */
.container {
    max-width: auto;
    margin: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.loading {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

.result {
    margin-top: 20px;
}
